$MYVIMRN
.CFUserTextEncoding
.DS_Store
.asdf/
.aws/
.bundle/
.cache/
.config/
.cups/
.cursor-tutor-1/
.cursor-tutor/
.cursor/
.docker/
.expo/
.gem/
.gitconfig
.gk/
.gnupg/
.gsutil/
.hex/
.kerl/
.lesshst
.local/
.node_repl_history
.npm/
.pearai/
.pnpm-state/
.psql_history
.ssh/
.swiftpm/
.tool-versions
.tool-versionss
.vim/
.viminfo
.vscode/
.yarn/
.yarnrc
.zcompdump
.zhist
.zprofile
.zprofile.pysave
.zsh_history
.zsh_sessions/
.zshrc.backup
AWSCLIV2.pkg
Applications/
Desktop/
Documents/
Downloads/
Google Drive
Library/
Movies/
Music/
Pictures/
Public/
TEST
cloud-sql-proxy
cookies.txt
cors.json
get-pip.py
get-pip.pypython
go/
kerl
kitty/
neovim/
projects/
snyk
text_file
